* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  padding-top: 2.5em;
  padding-bottom: 5rem;
  background-image: url(/images/blur-background09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

.topbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 2.5em;
  color: #efefef;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.topbar h1 {
  font-size: 1.5em;
}
.topbar a {
  color: #fff;
  text-decoration: none;
}
