.chat .sendMessage {
  position: fixed;
  bottom: 0;
  padding: 1em 0;
  width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.chat .sendMessage > input {
  display: block;
  width: 99.5%;
  height: 2em;
  margin: 0 auto;
  font-size: 1.5em;
  padding-left: 0.5em;
  background-color: transparent;
  color: #fff;
  border: none;
  text-align: center;
}

.chat-message {
  display: table;
  width: 90%;
  margin: 0.5em auto;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
}

.chat-message .pic {
  display: table-cell;
  overflow: hidden;
  border-radius: 100%;
  vertical-align: middle;
  width: 100px;
}
.chat-message .pic img {
  max-height: 100px;
}

.chat-message .text {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  word-break: break-word;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  text-align: center;
}
.chat-message .text:before, .chat-message .text:after {
  content: "\201f";
  position: absolute;
  left: 0;
  bottom: 0;
}
.chat-message .text:after {
  right: 0.25em;
  top: 0;
  left: auto;
  bottom: auto;
}
