<div class="chat">
  <div class="messages">
    {{#each}}
      {{chat-message message=message}}
    {{/each}}
  </div>
  <div class="sendMessage">
    {{input
      action="sendMessage"
      value=message
      placeholder="Type your message here"}}
  </div>
</div>
